{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "strict": 0,
    "no-extra-strict": 0,
    "quotes": [1, "single"],
    "curly": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": [1, "nofunc"],
    "no-unused-vars": 0
  }
}