/**
 * arrow icon
 */
/**
 * close icon
 */
.sw-outerContainer {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  /* make sure it's above everything else on the page */
  overflow: auto;
  background: rgba(98, 108, 121, 0); }
  .sw-outerContainer.is-visible {
    display: block;
    background: rgba(98, 108, 121, 0.9); }

.sw {
  position: relative;
  width: 600px;
  height: 700px;
  margin: 50px auto 0;
  background: #F8FAFB;
  border-radius: 3px;
  font-family: "Helvetica", "Arial", sans-serif; }

.sw-header {
  margin-left: 50px;
  padding-top: 60px; }
  .sw-header h1 {
    color: #323F4D;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5px; }

.sw-closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiI\a   HZpZXdCb3g9IjAgMCAxMyAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4\a   8cGF0aCBkPSJNMS41IDEuNWw5LjkgOS45bTAtOS45bC05LjkgOS45IiBzdHJva2UtbGluZWNhc\a   D0icm91bmQiIHN0cm9rZT0iIzM5RTFDRiIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIi8\a   +PC9zdmc+") no-repeat center;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: .2s -webkit-transform ease;
          transition: .2s transform ease;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
  .sw-closeButton:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
  .sw-closeButton.is-pressed {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.sw-main {
  margin: 50px 50px 0; }

.sw-footer {
  background-color: #323F4D;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  line-height: 140px;
  border-radius: 0 0 3px 3px;
  text-align: center; }

.sw-button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 190px;
  margin: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 300;
  border: 3px solid #39E1CF;
  border-radius: 3px;
  font-size: 14px;
  color: #FFF;
  -webkit-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .sw-button:hover {
    background-color: #39E1CF;
    box-shadow: 0px 8px 16px #333; }

.sw-column {
  list-style: none;
  padding: 0; }

.sw-listElem {
  border-top: 1px solid #DDD;
  -webkit-transition: .3s all;
          transition: .3s all; }
  .sw-listElem:last-child {
    border-bottom: 1px solid #DDD; }
  .sw-listElem::before {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYi\a   IHZpZXdCb3g9IjAgMCAxMCAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj\a   48dGl0bGU+c2VsZWN0ZWQgYXJyb3c8L3RpdGxlPjxnIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIg\a   c3Ryb2tlPSIjMzlFMUNGIiBzdHJva2Utd2lkdGg9IjMiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT\a   0iZXZlbm9kZCI+PHBhdGggZD0iTTEuNDcgMS40Nmw2LjU5IDYuNDQzTTEuNDcgMTQuMzQ2bDYu\a   NTktNi40NDMiLz48L2c+PC9zdmc+") no-repeat center;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-bottom: -1px;
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
    opacity: 0;
    -webkit-transition: 0.3s all cubic-bezier(1, 0, 0, 1);
            transition: 0.3s all cubic-bezier(1, 0, 0, 1); }
  .sw-listElem:hover::before {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
    opacity: 1; }
  .sw-listElem:hover {
    background-color: #FFF; }
  .sw-listElem:hover a {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px); }
  .sw-listElem a {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    line-height: 50px;
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
    -webkit-transition: 0.3s all cubic-bezier(1, 0, 0, 1);
            transition: 0.3s all cubic-bezier(1, 0, 0, 1); }
