.sw-outerContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(8, 124, 202, 0.9); }

.sw {
  position: relative;
  width: 750px;
  height: 700px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px; }
